:root {
    --background-page: #E1D4C9;
    --dark-background-page: #292826;
}

[data-theme="dark"] {
    --background-page: var(--dark-background-page);
}

$background-page: #E1D4C9;
$background-container: #665F55;
$inverse: #E1D4C9;
$accent: #B0907A;
$border-accent: #C1B6AD;
$border-primary: #665F55;